.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .item {
    min-width: calc(50% - 6px);
    max-width: calc(50% - 6px);
    max-height: 126px;
    min-height: 126px;
    background: rgb(23, 23, 23);
    border-radius: 26px;
    padding: 16px;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;

  }
}

@keyframes loading {
  0% {
    transform: scale(1)
  }

  75% {
    transform: scale(1.02)
  }
  
  100% {
    transform: scale(1)
  }
}
