.wrapper {
  width: 100%;
  background: #181818;
  border-radius: 10px;
  margin-bottom: 12px;
  min-height: 68px;
  max-height: 68px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    transform: scale(1)
  }

  75% {
    transform: scale(1.02)
  }
  
  100% {
    transform: scale(1)
  }
}