@keyframes skeleton-loading {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}

@mixin animation {
  content: '';
  background: linear-gradient(
    90deg,
    #2a2a2a 0%,
    #3a3a3a 50%,
    #2a2a2a 100%
  );
  animation-name: skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  background-size: 400% 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px 16px 16px;
  border-radius: 10px;
  background: #2c2c2e;
  overflow: hidden; 

  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    cursor: pointer;

    .container {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     padding-bottom: 10px;
    }

    .img {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
      height: 40px;
      max-height: 40px;
      min-height: 40px;
      border-radius: 50%;
      @include animation;
    }

    .title {
      height: 22px;
      border-radius: 10px;
      width: 70%;
      margin-bottom: 2px;
      margin-top: -2px;
      @include animation;
    }

    .description {
      height: 18px;
      border-radius: 10px;
      width: 55%;
      @include animation;
    }

    &:not(:last-of-type) .container {
      border-bottom: 0.33px solid rgba(84, 84, 88, 0.65);
    }
  }
}
