.wrapper {

  .input {
    display: none;
  }

  .text {
    font-size: 17px;
  }

  .icon {
    display: none;
    width: 12px;
    max-width: 12px;
    min-width: 12px;
    height: 12px;
    max-height: 12px;
    min-height: 12px;
  }

  @media (max-width: 540px) {
    .text {
      display: none;
    }

    .icon {
      display: block;
    }
  }
}