.input {
  width: 100%;
  background: #181818;
  background-blend-mode: overlay, normal;
  border-radius: 10px;
  color: var(--white1);
  padding: 14px 10px;
  font-size: 17px;
  line-height: 22px;
  transition-property: box-shadow, border;
  transition-duration: .15s;
  resize: vertical;

  &:focus{
    outline: none;
    // box-shadow: 0 0 0 2px var(--black_blue3);
    // border-color: var(--blue);
  }

  &::placeholder {
    user-select: none;
    color: #97979e;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
