.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  position: absolute;
  top: -29px;
  left: -115%;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  will-change: transform;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_first {
      gap: 94px;
      margin-bottom: 7px;
    }

    &_second {
      gap: 107px;
      margin-bottom: 12px;
    }

    &_third {
      gap: 186px;
      margin-bottom: 15px;

      .container {
        display: flex;
        align-items: center;
        gap: 42px;
      }
    }

    &_fourth {
      width: auto;
      gap: 106px;
      margin-bottom: 7px;
    }

    &_fifth{
      width: auto;
      gap: 112px;
      margin-bottom: 3px;
    }

    &_sixth {
      width: auto;
      gap: 82px;
    }

  }

  .icon {
    path {
      fill: #424b55;
      background-blend-mode: overlay, luminosity;
    }
  
    &_1 {
      min-width: 14.25px;
      max-width: 14.25px;
      width: 14.25px;
      height: 18px;
      min-height: 18px;
      max-height: 18px;
    }

   &_2 {
      min-width: 19px;
      max-width: 19px;
      width: 19px;
      height: 24px;
      min-height: 24px;
      max-height: 24px;
      margin-top: -4px;
      margin-bottom: 4px;
   }

   &_3 {
      min-width: 14.25px;
      max-width: 14.25px;
      width: 14.25px;
      height: 18px;
      min-height: 18px;
      max-height: 18px;
      margin-top: -1px;
      margin-bottom: 1px;
    }

   &_4 {
      min-width: 19px;
      max-width: 19px;
      width: 19px;
      height: 24px;
      min-height: 24px;
      max-height: 24px;
      margin-bottom: -4px;
   }
  }
}