.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 16px;
  right: 16px;
  row-gap: 8px;
  max-width: 376px;
  align-items: flex-end;
  z-index: 3000;

  &_mobile{
    top: 136px;
  }
}