.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--default-padding-form);
  padding-bottom: var(--padding-bottom-45);
  padding-left: 16px; 
  padding-right: 16px; 
  flex-grow: 1;

  .icon {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
  }

  .title {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
  }
  
  .description {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .button {
    margin-top: auto;
  }

  .info {
    animation-name: appearance;
    animation-duration: .4s;
    animation-fill-mode: both;
  }
}

@keyframes appearance {
  from {
    opacity: 0
  }

  to {
    opcaity: 1
  }
}