.wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px 16px 16px;
  border-radius: 10px;
  background: #2c2c2e;
  overflow: hidden;

  &_empty {
    background: none;
    margin: 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    transition: height .3s;
    will-change: transform;
    overflow: hidden;
  }

  .more {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
    min-height: 60px;
    height: 60px;
    cursor: pointer;
    color: var(--white1);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    user-select: none;
    
    .img {
      width: 40px;
      max-width: 40px;
      min-width: 40px;
      height: 40px;
      max-height: 40px;
      min-height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .container {
      display: flex;
      align-items: center;
      gap: 6px;

      .icon {
        width: 12px;
        height: 12px;
        transition: transform .3s;
        
        &_active {
          transform: rotate(180deg)
        }
      }
    }

  } 
}