.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33333333%;
  user-select: none;

  .icon {
    width: 26px;
    height: 26px;
    margin-bottom: 6px;
    
    path {
      fill: var(--gray2);
      fill-opacity: .4;
      transition: fill 0.4s, opacity 0.4s;
    }
  }

  .text {
    font-size: 11px;
    color: var(--gray2);
    opacity: .4;
    transition: color 0.4s, opacity 0.4s;
  }

  &_active {
    .icon {
      path {
        fill-opacity: .7;
      }
    }
    
    .text {
      opacity: .7;
    }
  }
}