.wrapper {
  display: flex;

  .block {
    position: relative;
  }

  .container {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border: 2px solid #97979e;
    border-radius: 10px;
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      animation-name: appearance;
      animation-duration: .3s;
      animation-fill-mode: both;
      opacity: 0;
    }
  }

  .icon {
    width: 5px;
    height: 5px;

    &_container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -4px;
      right: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #8c8c8c;
    }
  }
}

@keyframes appearance {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}