.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;

  .input {
    display: none;

    &:checked ~ .label > .box > .icon {
      opacity: 1;
    }
  }

  .label {
    display: flex;
    gap: 6px;
    color: #FFF;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      max-height: 20px;
      min-height: 20px;
      margin-top: 2px;
      border: 2px solid #97979e;
      border-radius: 6px;
      overflow: hidden;

      .icon {
        opacity: 0;
        width: 12px;
        height: 14px;
        transition-property: opacity;
        transition-duration: .1s;
      }
    }
  }
}